/* 
    Main CSS file
*/

/* Import */
@import url(font/font.css);

/* Selector */
body {
    font-family: Lato-Regular;
}

/* Id */
#blankUnderNav {
    height: 76.6px;
}

/* Class */
.Lato-Regular {
    font-family: Lato-Regular;
}

.Lato-Bold {
    font-family: Lato-Bold;
}

.Lato-Black {
    font-family: Lato-Black;
}

/* Media Query */
@media only screen and (max-width: 991px) {
    #blankUnderNav {
        height: 65px;
    }
}